.barraHeader {
  padding: 0 2em;
  background-color: #111111;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

h2 {
  font-weight: bold !important;
  margin: unset !important;
}
